* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

*.gif binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.xlsx binary
